@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  background-color: #f3f4f8;
  max-width: 1550px;
  margin: 0 auto;
}
